<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= title %> - 404not youtube</title>
  <meta name="description" content="まっしろになっていく">
  <meta property="og:title" content="わかめtube">
  <meta property="og:description" content="まっしろになっていく">
  <meta property="og:site_name" content="わかめtube | まっしろ">
  <meta property="og:image" content="/banner.png">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="わかめtube | まっしろ">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
 <header>
   
      </form>
    </div>
  </header>
  <br>
  <div id="error">
    <p class="fs-1"><%= title %></p>
    <p class="lh-1">404 not ここにはなにもありません ホームへ戻るボタンを押してください （最初開いた時は404になる時があります）</p><br>
    <button onclick="location.href='/home.pdf'">ホームに戻る</button>
  </div>
  <style>
	a {
		color: #ff8181;
	}
	
	#error {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
  </style>
</body>
</html>
