<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わかめtubeリンク集</title>

    <li><a href="https://ipad4610desuyo.jake.eu/home.pdf" target="_blank">https://ipad4610desuyo.jake.eu/home.pdf</a></li>
    <li><a href="https://sydomdomeda.ydns.eu/home.pdf" target="_blank">https://sydomdomeda.ydns.eu/home.pdf</a></li>
    <li><a href="https://tropical-geode-aragosaurus.glitch.me/home.pdf" target="_blank">https://tropical-geode-aragosaurus.glitch.me/home.pdf</a></li>

</html>
