<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error youtube</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.min.js"></script>
    <style>
    .error {
      color: red;
    }
    .details {
      color: gray;
      font-size: small;
      white-space: pre-wrap;
    }
  </style>
  </head>
<body>
 <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/home.pdf'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/wakamehistory'">履歴</button>
      <form class="d-flex" action="/s.pdf">
        <input type="text" name="q" class="form-control" placeholder="検索..." required>
      </form>
      
    </div>
  </header>
  エラー エラー ⚠️<br>
  videoが応答していません
  <button onclick="location.href='/redirect?p=w&id=<%= videoId %>'">押さなくていい 🔄して</button><br>
  <p>もしなおらない場合は調子が悪い可能性があります</p>
  
   <% if (error) { %>
    <div class="error"><%= error %></div>
    <% if (details) { %>
      <div class="details"><%= details %></div>
    <% } %>
  <% } %>
    <br><br><br>
  <p>
    最終編集日 2024 12 7 土曜日  by iPad4610
  </p>
</body>
</html>
